name: Make build

on: 
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: CMake build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DENABLE_NATIVE=ON
      - name: Build
        run: cmake --build build
      - name: Tests
        run: ctest --test-dir build --output-on-failure
